* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
}

#circle {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.4 ease;
}

#color {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}